<!--New everything-->

<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="$parent.closeAddPad()">×</button>
    <h4 class="modal-title">新增记录</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="loginLabel" style="font-size:16px;text-shadow: 1px 0px 0px rgba(0, 0, 0, .8);">课程名</label>
        <input type="text" ng-model="$parent.addServerRequest.courseName" class="form-control" style="color:black;"
               aria-describedby="basic-addon2" dl-enter-key="$parent.addNew()">
    </div>

    <div class="form-group">
        <label class="loginLabel" style="font-size:16px;text-shadow: 1px 0px 0px rgba(0, 0, 0, .8);">学分</label>
        <input type="text" ng-model="$parent.addServerRequest.score" class="form-control" style="color:black;"
               aria-describedby="basic-addon2" dl-enter-key="$parent.addNew()">
    </div>

    <!--<div class="form-group">-->
        <!--<label class="loginLabel" style="font-size:16px;text-shadow: 1px 0px 0px rgba(0, 0, 0, .8);">所属专业</label>-->

        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" ng-disabled="true" ng-model="$parent.addServerRequest.major" aria-label="..." dl-enter-key="$parent.addNew()">-->
            <!--<div class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">请选择专业<span class="caret"></span></button>-->
                <!--<ul class="dropdown-menu dropdown-menu-right" >-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='计算机科学与技术';">计算机科学与技术</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='天文';">天文</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='文学与艺术';">文学与艺术</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='软件工程';">软件工程</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='经济管理';">经济管理</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='德文';">德文</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='金融';">金融</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='会计';">会计</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='游戏设计';">游戏设计</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='考古';">考古</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='土木工程';">土木工程</a></li>-->
                    <!--<li><a target="_self" ng-click="$parent.addServerRequest.major='英文';">英文</a></li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
    <!--</div>-->

    <div class="form-group">
        <label class="loginLabel" style="font-size:16px;text-shadow: 1px 0px 0px rgba(0, 0, 0, .8);">课程类别</label>
        <div class="input-group">
            <input type="text" class="form-control" ng-disabled="true" ng-model="$parent.addServerRequest.courseType" aria-label="..." dl-enter-key="$parent.addNew()">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">请选择课程类型<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" >
                    <li><a target="_self" ng-click="$parent.addServerRequest.courseType='专业课';">专业课</a></li>
                    <li><a target="_self" ng-click="$parent.addServerRequest.courseType='必修课';">必修课</a></li>
                    <li><a target="_self" ng-click="$parent.addServerRequest.courseType='选修课';">选修课</a></li>
                    <li><a target="_self" ng-click="$parent.addServerRequest.courseType='课外实践课程';">课外实践课程</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div>

    <div class="form-group">
        <label class="loginLabel" style="font-size:16px;text-shadow: 1px 0px 0px rgba(0, 0, 0, .8);">老师</label>
        <input type="text" ng-model="$parent.addServerRequest.courseTeacher" class="form-control" style="color:black;"
               aria-describedby="basic-addon2" dl-enter-key="$parent.addNew()">
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-success form-control" style="color:black;"
               aria-describedby="basic-addon2" ng-click="$parent.addNew()">添加</button>
    </div>


</div>

