<!--New everything-->

<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="closeOuter()">×</button>
    <h4 class="modal-title">课外实践课选择 - (一名学生只能同时选择4个课外实践课程)</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div style="font-size: 14px;font-weight: 400;text-shadow: 0px 0px 1px black;">可选课程</div>
            <label class="radio-inline" style="width: 100%;margin-left:0px;margin-top:5px;">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="锤工"> 锤工
            </label>
            <label class="radio-inline" style="width: 100%;margin-left:0px;margin-top:5px;">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="电工"> 电工
            </label>
            <label class="radio-inline" style="width: 100%;margin-left:0px;margin-top:5px;">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="电气工"> 电气工
            </label>
            <label class="radio-inline" style="width: 100%;margin-left:0px;margin-top:5px;">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="自愿者活动"> 自愿者活动
            </label>
            <label class="radio-inline" style="width: 100%;margin-left:0px;margin-top:5px;">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="义务清洁工"> 义务清洁工
            </label>
            <label class="radio-inline" style="width: 100%;margin-left:0px;margin-top:5px;">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio6" value="文化宣传"> 文化宣传
            </label>
        </div>

        <div class="col-lg-4 col-md-4">
            <button class="btn btn-default btn-danger" style="width:51%" ng-click="addOuterCourse()">选择</button>
            <button class="btn btn-default btn-danger" style="width:51%" ng-click="clearOuterCourse()">清空</button>
        </div>

        <div class="col-lg-4 col-md-4">
            <div style="font-size: 14px;font-weight: 400;text-shadow: 1px 1px 1px black;">已选课程</div>
            <select multiple style="border:none;overflow:hidden;">
                <option ng-repeat="course in selOuterCourse">{{course}}</option>
            </select>
        </div>
    </div>


</div>

