<!--This tag is landing page.-->
<div class="container-fluid" ng-controller="HomeController">
    <div class="row">
        <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1 landing-background landing-section-default landing-left-qk-background landing-qk-board">

            <!-- Left quick keys panel-->
            <div class="landing-left-qk-title">快捷方式</div>
            <!-- 学生信息总管理查询页面-->
            <button type="button" ng-click="changeLanding('PersonalEditor')" class="btn btn-default landing-left-qk-blocks">信息管理查询</button>
            <!--管理员通过对不同专业的选择来自行添加该专业的适应课程,课程可以自行自定义添加,当然也有系统默认数值.其中专业课程分为四大类
            1.  专业课程, 比如专业课程的课程名
            2.  专业必修课程,如高等数学或者英文等
            3.  实践课程, 课外实践课程
            4.  选修课程,面向全全专业的选修课程,主要去修的学分.
            -->
            <button type="button" ng-click="changeLanding('MajorIn')" class="btn btn-default landing-left-qk-blocks">专业课程编辑</button>
            <!--给不同班级委托不同的课程表,先选中班级,然后系统根据班级所属于的专业来调取所有专业课程,继而进行排布-->
            <button type="button" ng-click="changeLanding('Schedule')" class="btn btn-default landing-left-qk-blocks">课程表编辑</button>
        </div>

        <div class="container-fluid landing-background col-lg-10 col-sm-10 col-xs-10 col-md-10" id="LandingContainer" style="border-radius: 5px;">

            <div ng-include="'app/partials/Nav.html'"></div>

            <div class="row">
                <!--<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">-->
                    <!--<div ng-include="'app/partials/TaskIndex.html'"></div>-->
                <!--</div>-->
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <!--<div ng-include="'app/partials/NotificationArea.html'"></div>-->
                    <ng-include src="landingUrl()"></ng-include>
                </div>
            </div>


            <div class="footer" style="margin-bottom:50px;">

            </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-1 col-md-1"></div>


    </div>
</div>